
/* ---------- Color Module Styles ----------- */

body,
body.overlay {
  color: #272727;
}
.comment .comment-arrow {
  border-color: #ffffff;
}
#page,
#main-wrapper,
#main-menu-links li a.active,
#main-menu-links li.active-trail a {
  background: #ffffff;
}
.tabs ul.primary li a.active {
  background-color: #ffffff;
}
.tabs ul.primary li.active a {
  background-color: #ffffff;
  border-bottom: 1px solid #ffffff;
}
#header-wrap, .header {
  background-color: #fff; 
}
a {
  color: #0f5abe;
}
a:hover,
a:focus {
  color: #567cd6;
}
a:active {
  color: #567cd6;
}
.sidebar .block {
  
}
#page-wrapper,
#footer-wrapper {
  background: #FFF;
}
.region-header,
.region-header a,
.region-header li a.active,
#name-and-slogan,
#name-and-slogan a,
#secondary-menu-links li a {
  color: #fffeff;
}
