/*----------------------------------------------------------------------------------*/
/*------------------------------> RESET DEFAULT STYLES <----------------------------*/
/*----------------------------------------------------------------------------------*/
html        { width:100%; height:100%; }
body        { padding:0; margin:0; min-height:100%; height: 100%; background-color: transparent;}
div,p,a,span,em,strong,img,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,td,tr,form,fieldset,label,select,input,textarea {
    padding:0;
    margin:0;
    outline:none;
    list-style:none;
}
body, select, input, textarea, input[type="password"], button {
    font-family: Arial, sans-serif !important;
    color: #fff !important;
}

textarea                       { vertical-align:top; }
:focus                         { outline:none !important; }
input[type=submit]             { cursor:pointer; }
input[type="password"]         {  }
input[type="checkbox"]         { vertical-align: baseline !important; margin-top: 2px !important; }
img, fieldset                  { border:0; }
table                          { border-collapse:collapse; border-spacing:0; }
a                              { color: #000; text-decoration:none; }
a:hover                        { color: #000; text-decoration:underline; }
button                         { color: #fff; padding: 0; border: 0; }

.clear {
    clear: both;
}
.no-display {
    display: none !important;
}


:focus::-webkit-input-placeholder{ color:transparent !important; }

:focus::-moz-placeholder { color:transparent !important; } /* firefox 19+ */
:focus:-ms-input-placeholder { color:transparent !important; } /* ie */
:focus:-moz-placeholder { color:transparent !important; }


/*----------------------------------------------------------------------------------*/
/*---------------------------------> Main Structure <-------------------------------*/
/*----------------------------------------------------------------------------------*/

/*----------------< Wrapper >-------------*/
.default-header-wrap {
    overflow: hidden;
    border-bottom: 20px solid #DDDDDD;
    padding: 20px 0;
    background-color: #fff;
}
.default-page-wrap {
    overflow: hidden;
    border-top: 20px solid #EAEAEA;
    background: url("../images/footer_bg.png") no-repeat center bottom #20409A;
    background-size: 692px 41px;
    -moz-background-size: 692px 41px;
    -webkit-background-size: 692px 41px;
}
/*---------------------------------------*/
/*----------------< Header >-------------*/
/*---------------------------------------*/
.default-header-wrap .header {
    overflow: hidden;
    width: 960px;
    margin: 0 auto;
}
.default-header-wrap .header .logo {
    overflow: hidden;
    width: 148px;
    height: 109px;
    margin: 0 auto;
    background: url("../images/maintaince_logo.png") no-repeat;
    background-size: 148px 109px;
    -moz-background-size: 148px 109px;
    -webkit-background-size: 148px 109px;
    text-indent: -9999px;
}
/*-------------------------------------*/
/*----------------< Page >-------------*/
/*-------------------------------------*/
.default-page-wrap .page-container {
    overflow: hidden;
    width: 960px;
    margin: 0 auto;
    text-align: center;
}
.default-page-wrap .page-container p {
    overflow: hidden;
    text-align: center;
    line-height: normal;
}
.default-page-wrap .page-container p.announce {
    font-size: 18px;
    margin: 85px 0 65px;
}
.default-page-wrap .page-container p.info {
    display: inline-block;
    padding: 0 0 5px;
    margin: 0 0 70px;
    border-bottom: 1px solid #9A9DCF;
    font-size: 36px;
    font-family: 'Philosopher', sans-serif;
}
.default-page-wrap .page-container .address {
    overflow: hidden;
    margin: 0 0 90px;
}
.default-page-wrap .page-container .address p {
    overflow: hidden;
    margin: 0 0 15px;
    font-size: 14px;
}

